.header {
  width: 100%;
  min-height: calc(100% - 100px);
  padding: 10px 0;
  margin-bottom: 30px;
  background-color: aliceblue;

  &__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  &__buttons {
    display: flex;
    align-items: center;
    width: 250px;
    gap: 10px;
  }
  &__quote {
    font-style: italic;
    font-size: 30px;
  }
}
.logo {
  width: 50px;
  height: 50px;
}
