.header {
  width: 100%;
  min-height: calc(100% - 100px);
  padding: 10px 0;
  margin-bottom: 30px;
  background-color: aliceblue;

  &__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  &__buttons {
    display: flex;
    align-items: center;
    width: 250px;
    gap: 10px;
  }
  &__quote {
    font-style: italic;
    font-size: 30px;
  }
  &__logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.logo{
  max-width: 100%;
}
.header__nav{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 10px;
  &__link > a{
    text-decoration: none;
    color: #ce0f91;
    display: block;
    padding: 5px 10px;
    background-color: #161d28;
    text-align: center;
    border-radius: 20px;
    transition: background-color, color 0.25s ease-in-out;
      &:hover{
        background-color: #ce0f91;
        color: #161d28;
      }
    }
  &__link--light > a{
    color: #110cb7;
    background-color: #4fa08d;
    &:hover {
      color: #4fa08d;
      background-color: #110cb7;
    }
  }
}